
<!-- logout button -->
<div class="logout">
	<%= button_to("logout", action: "logout")%>
</div>
<!-- displays posible errors -->
<!-- posts errors -->
<% if !@edit_update.nil? %>
	<% if @edit_update.errors.any? %>
		<div class="error_explanation">
        	<% @edit_update.errors.full_messages.each do |msg| %>
        		<p class="error_explanation"><%= msg %></p>
			<% end %>
	    </div>
	<% end %>
<% end %>

<!-- edit field -->
<div class="update_field">
	<%= form_for @edit_update, url: {action: "update"} do |f| %>
		<table class"update_form">
			<tr>
				<th><%=f.label(:status, "What's going on???")%></th>
				<td><%=f.text_area(:status, size:"50x5") %><td>
				<%= f.hidden_field :id %>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><%= f.submit 'Publish Changes', :class => 'submit button' %></td>
			</tr>
		</table>
	<% end %>
</div>
<!-- Display list of all Updates --> 
<div class="update_list">
	<h3>Status Updates</h3>
	<table> 
		<%= render partial: "update", collection: @updates || "Your update will be the first update" %>
	</table>
</div>