
<!-- logout button -->
<%= button_to("logout", action: "logout")%>

<!-- displays posible errors -->
<!-- posts errors -->
<% if !@edit_update.nil? %>
	<% if @edit_update.errors.any? %>
		<div class="error_explanation">
			<ul>
        		<% @edit_update.errors.full_messages.each do |msg| %>
        			<li><%= msg %></li>
				<% end %>
			</ul>
	    </div>
	<% end %>
<% end %>

<!-- edit field -->

<%= form_for @edit_update, url: {action: "update"} do |f| %>
	<table>
		<tr>
			<th><%=f.label(:status, "What's going on???")%></th>
			<td><%=f.text_area(:status, size:"50x5") %><td>
			<%= f.hidden_field :id %>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td><%= f.submit 'Publish Changes', :class => 'submit button' %></td>
		</tr>
	</table>
<% end %>

<!-- Display list of all Updates --> 

<h3>Status Updates</h3>
<table> 
	<%= render partial: "update", collection: @updates || "Your update will be the first update" %>
</table>