
<!-- logout button -->
<%= button_to("logout", action: "logout")%>

<!-- needs a way to display errors if status isn't saved correctly -->

<!-- status update form --> 

<%= form_for @new_status, url: {action: "create"} do |f| %>
	<table>
		<tr>
			<th><%=f.label(:status, "What's going on???")%></th>
			<td><%=f.text_field(:status) %><td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td><%= f.submit 'Publish', :class => 'submit button' %></td>
		</tr>
	</table>
<% end %>

