<% @page_title = "Norex Login" %>
<h1> Welcome to NorApp </h1> 

<!-- posts flash notices -->
<div class = "flash_notice">
	<% if !flash[:notice].blank? %>
		<p class = "flash_notice"><strong><%= flash[:notice] %><strong></p>
	<%end%>
</div>

<!-- posts errors -->
<% if @user.errors.any? %>
	<div>
        <% @user.errors.full_messages.each do |msg| %>
       		<p class="error_explanation"><%= msg %></p>
		<% end %>
    </div>
<% end %>

<!-- log In -->
<div class="login">
	<h2> Log In </h2>
	<%= form_for @user, url: {action: "attempt_login"}, html: {class: "form"} do |f| %>	
		<table summary= "login">
			<tr>
				<th><%= f.label(:user_name, "User Name") %> </th> 
				<td><%= f.text_field(:user_name) %> </td>
			</tr>
			<tr>
				<th><%= f.label(:password) %></th>
				<td><%= f.password_field(:password) %></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><%= f.submit 'Log In', :class => 'submit button' %></td>
			</tr>
		</table>
	<% end %>
</div>


<div class="sign_up">
	<h2> Sign Up </h2>

	<%= form_for @user, url: {action: "sign_up"}, html: {class: "form"} do |f| %>
		<table summary= "Sign Up">
			<tr>
				<th><%= f.label(:user_name, "User Name")%></th>
				<td><%= f.text_field( :user_name )%></td>
			</tr>
			<tr>
				<th><%= f.label( :password )%></th>
				<td><%= f.password_field( :password )%><td>
			</tr>
			<tr>
				<th><%= f.label( :password_confirmation )%></th>
				<td><%= f.password_field( :password_confirmation )%><td>
			</tr>

			<tr>
				<th><%= f.label( :email )%></th>
				<td><%= f.email_field( :email )%><td>
			</tr>

			<tr>
				<th><%= f.label(:confirm_email)%></th>
				<td><%= f.email_field(:confirm_email)%></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><%= f.submit 'Sign Up', :class => 'submit button' %></td>
			</tr>
		</table>
	<% end %>
</div>
